version: '3'

services:      
    nginx:    
        build: ./nginx/  
        container_name: nginx-container  
        ports:  
            - 80:80  
        links:  
            - php  
        volumes_from:  
            - app-data  

    php:    
        build: ./php/  
        container_name: php-container  
        expose:  
            - 9000  
        links:  
            - mysql  
        volumes_from:  
            - app-data
        volumes:
            - ./www/html/pictures:/var/www/html/pictures:rw
            - ./www/html/mapMaterials:/var/www/html/mapMaterials:rw  
  
    app-data:    
        image: php:7.0-fpm  
        container_name: app-data-container  
        volumes:  
            - ./www/html/:/var/www/html/  
        command: "true"  

    mysql:    
        image: mysql:5.7  
        container_name: mysql-container  
        volumes:  
            - ./content:/docker-entrypoint-initdb.d  
            - mysql-data:/var/lib/mysql  
        environment:  
         MYSQL_ROOT_PASSWORD: secret  
         MYSQL_DATABASE: tourdb  
         MYSQL_USER: user  
         MYSQL_PASSWORD: password  

volumes:    
    mysql-data:    


